.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: relative;  /* Allows child elements to be positioned */
  width: 100vw;
  height: 100vh;
}

.welcome-container {
  position: absolute;
  top: 50%;
  right: 10%; /* Moves it to the right */
  transform: translateY(-50%); /* Centers it vertically */
  padding: 40px;
  /* border: 1px solid black; */
  width: 350px;
  height: 550px;
  place-content: center;
  /* background-color: rgba(255, 255, 255, 0.9); */
}

.login-container {
  position: absolute;
  top: 50%;
  right: 10%; /* Moves it to the right */
  transform: translateY(-50%); /* Centers it vertically */
  padding: 40px;
  border: 1px solid black;
  width: 350px;
  height: 550px;
  place-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.signup-container {
  position: absolute;
  top: 50%;
  right: 10%; /* Moves it to the right */
  transform: translateY(-50%); /* Centers it vertically */
  padding: 40px;
  border: 1px solid black;
  width: 350px;
  height: 550px;
  place-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.spline-container {
  position: fixed; /* Ensures it covers the screen and stays in place */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}



